<phpunit backupGlobals="true" bootstrap="bootstrap.php" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true">
    <filter>
        <whitelist>
            <directory>/src</directory>
        </whitelist>
    </filter>
    <testsuite>
        <directory>./</directory>
    </testsuite>
</phpunit>